<h2>Your gadget collection</h2>

<%= form_tag gadgets_path, method: 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<% @gadgets.each do |gadget| %>
  <h3><%=gadget.name %></h3>
  <p><%= gadget.description %><p>
<% end %>


