<!DOCTYPE html>
<html>
<head>
  <title>Gadgets</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to "Gadgets", "/" %></h1>
<ul>
  <li><%= link_to "sign up", new_user_registration_path %> </li>
  <% if current_user %>
  <li><%= link_to "logout", destroy_user_session_path, method: 'delete'  %> </li>
  <% else %>
  <li><%= link_to "login", new_user_session_path  %> </li>
  <% end %>
</ul>
<% if current_user %>
You are logged in as <%= current_user.email %>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
